/* THIS IS NOT CURRENTLY IN USE */

.sidenav {
    height: 100%;
    width: 200px;
    position: sticky;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
    color: rgba(57, 57, 57, 1)
}

.upcoming p {
    margin-top: 0;
}

.date {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    font-size: 12px;
}

.info {
    display: inline-block;
    width: 154px;
}