.exhibitions-filtered-container {
  // margin-left: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 14px;
  // min-height: calc(100vh - 120px);
  margin-top: 50px;
  .exhibitions-item {
    display: flex;
    flex-direction: column;
    &-head {
      white-space: nowrap;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 14px;

      .dates {
      }
      .gallery {
        text-align: right;
        text-decoration: underline;
      }
    }
    &-image {
      filter: grayscale(1);
      // filter: contrast(10) grayscale(95%) sepia(0%) opacity(80%);
      img {
        width: 100%;
      }

      &:hover {
        mix-blend-mode: normal !important;
        filter: none !important;
      }
    }
    &-text {
      margin-top: 14px;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      text-align: justify;
      color: #393939;

      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.filter-pane {
  // position: fixed;
  // left: 0;
  // bottom: 0;

  padding-bottom: 14px;
  position: sticky;
  bottom: 0;
  width: 25%;
  padding-right: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: var(--bigFont);
  line-height: 107.5%;
  color: #393939;
  text-transform: uppercase;
  max-height: 80vh; // keep the filter pane in the visible window
  overflow-y: scroll; // scroll through filter items
}

.filter-trigger {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(0, 0, 0);
  justify-content: space-between;
  margin-bottom: 6px;
  align-items: center;

  &-icon {
    transform: rotate(-45deg);
    transition: 0.25s;
    width: 12px;
    height: 12px;
    background: transparent;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: none;
    border-top: none;
    margin: 0 var(--default) 0 0;

    &.rotate {
      transform: rotate(45deg);
    }
  }
}

.tag,
.tag > span {
  font-size: var(--bigFont);
  &-filter {
    div {
      font-size: var(--bigFont);
    }
  }
}

.tag-filter {
  // background-color: var(--backgroundColor);
  position: sticky;
  top: 0;
  a {
    &::before {
      content: "〇 ";
    }
  }

  a.active {
    &::before {
      content: "◉ ";
    }
  }
}

// .filter {
//   font-size: var(--small);

//   &-pane {
//     height: calc(100vh - 3.5rem);
//     width: 25vw;
//     position: fixed;
//     top: 3.5rem;
//     bottom: 0;
//     right: -30vw;
//     background: var(--home);
//     color: white;
//     transition: right var(--normal) var(--ease);
//     overflow: scroll;
//     font-size: var(--small);
//     line-height: 1.15;
//     transition: var(--normal) var(--ease);
//     font-family: union-regular, sans-serif;

//     @media(max-width: $table_portrait) {
//       width: 40%;
//       right: -100%;
//     }

//     @media(max-width: $mobile) {
//       top: unset;
//       right: 0;
//       bottom: -55vh;
//       bottom: calc(var(--vh, 1vh) * -55);
//       height: 50vh;
//       height: calc(var(--vh, 1vh) * 50);
//       width: 100vw;
//       border-top-left-radius: 9px;
//       border-top-right-radius: 9px;
//       top: unset;
//       //      bottom: unset;

//     }

//     &.show {
//       right: 0;

//       @media(max-width: $mobile) {
//         //        top: 45vh;
//         //        top: calc(var(--vh, 1vh) * 45);
//         bottom: 0;

//       }

//     }

//     p {
//       font-size: var(--small);
//     }

//     &-inner {
//       position: absolute;
//       top: 0;
//       overflow: scroll;
//       padding: 0 var(--wide);
//       width: 100%;
//       height: 100%;

//       & div:nth-child(5) {
//         margin-bottom: var(--max);
//       }

//       & > div:nth-child(1) {
//         background: var(--home);
//         z-index: 10;
//         padding-top: var(--wide);
//         box-shadow: 0px 11px 16px 5px var(--home);
//       }

//     }

//   }

//   &-close {
//     @include close_panes
//   }
// }

// .filters {

//   display: flex;
//   flex-direction: column;

//   &-venue {}

//   &-author {
//     //         display: none;
//   }
// }

// .tag-filter {
//   margin-top: var(--small);

//   &:first-of-type {
//     margin-top: 0;
//   }

//   a {
//     text-decoration: none;
//     color: white;
//     display: flex;

//     span {
//       &.check-circle {
//         margin-left: 10px;
// //        padding-top: 2px;
//       }
//     }

//     &.active {
//       & > svg {

//         &.checked {
//           display: block;
//         }

//         &.unchecked {
//           display: none;
//         }
//       }

//       span.underline {
//         text-decoration: underline;
//       }

//     }
//   }

//   .active {
//     text-decoration: none;
//   }
// }

// svg {
//   transform: translateY(2px);

//   &.checked {
//     display: none;
//   }
// }
